<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084049404633-1d9tdka9ka1ad8nbcuf4oku7r686bf70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084049404633-1d9tdka9ka1ad8nbcuf4oku7r686bf70</string>
	<key>API_KEY</key>
	<string>AIzaSyDx2KEkYUwqUS_V8IoKzZlSSPjYvS7UBE0</string>
	<key>GCM_SENDER_ID</key>
	<string>1084049404633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.programMovilUno</string>
	<key>PROJECT_ID</key>
	<string>contador-fes-aragon</string>
	<key>STORAGE_BUCKET</key>
	<string>contador-fes-aragon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084049404633:ios:c8275879de486f2f0b44c8</string>
</dict>
</plist>